{% extends 'usernavigation.html' %}
{%load static%}
{% block body %}

{% if error == "no" %}
<script>
    alert('Password changed Successfully');
    window.location=('{% url 'logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Login Credential , Try Again');
</script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <img src="{% static '/images/home-background.jpg'%}" style="width:500px">
        </div>
    
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Old Password</label>
                    <input type="password" class ="form-control"placeholder="Enter Old Password" name="old">
                <label>New Password</label>
                    <input type="password" class ="form-control" placeholder="Enter New password" name="new">
                <label>New Password</label>
                    <input type="password" class ="form-control" placeholder="Re-Enter New password" name="confirm">
    
                    <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>
    
    </div>
</div>
    

{% endblock%}